@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family:'Raleway', sans-serif;
}
body {
    background-color: #1F1F33;
}
nav  {
    padding: 5vh;
}
.links {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}
.link {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 20px;
    transition: all ease 0.5s;
}
.link:hover {
    padding: 15px;
    font-size: bolder;
    background-color: #ffffff85;
    color: #1F1F33;
    border-radius: 20px;
}
header {
    width: 98vw;
    height: 80vh;
    display: flex;
    color: white;
    justify-content: center;
}
header .info h1 {
    font-size: 5rem;
    font-weight: 500;
}
h3 {
    font-size: 1.5rem;
    padding-left: 6vw;
}
.github {
    text-decoration: none;
    border-radius: 50px;
}
.github :hover {
    font-size: 3.5rem;
    margin: 5px;
    border-radius: 50px;
}
.info {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
} 
.blur {
    position: absolute;
    box-shadow: 0 0 1000px 60px #1d4ed8;
    z-index: -100;
    transform: translate(-15rem, 0);
}
header span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px white;
    font-size: 3rem;
    transition: all ease 1s;
}
.icon a {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    transition: all ease 1s;
    text-decoration: none;
}
.icon a:hover{
    color: #ffffffb1 ;
    font-size: 35px;
    
}
main {
    width: 98vw;
    height: 90vh;
}
main h1 {
    display: flex;
    margin: 50px;
    font-size: 4rem;
    font-family:'Raleway', sans-serif;
    font-weight: 300;
    justify-content: center;
    color: white;
}
#container {
    align-items: center;
}
.box1  {
    display: flex;
    width: 40%;
    margin: 0px 20px 0px 20px;
    border: 5px solid white;
    background-color: black;
    border-radius: 5px;
    transition: all ease 1s;
}
.box1 a img {
    width: auto;
}

.box2 a img {  
    display: flex;
    justify-content: center;
    max-width: 1050px;
    margin: 0px 20px 0px 20px;
    border: 5px solid white;
    background-color: black;
    border-radius: 5px;
    transition: all ease 1s;
}
.box2 a :hover {
    width: 32vw;
    height: 420px;
    background-color: black;
    transition: 1s;
}
footer {
    width: 98vw;
    height: 98vh;
}