@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    padding: 30px;
    background-color: black;
    background-image: url(imagem/spotify_logo.png);
    background-size: 100px;
    background-repeat: no-repeat;
    
}
a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
a:hover {
    text-align: right;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: 0.8s;
}
main {
    background-color: #993399;
    padding: 100px;
    color: white;
}
.tenis {
    height: 400px;
    width: 400px;
    background-image: url(imagem/tenis.png);
    position: absolute;
    right: 10%;
    top: 10%;
    background-repeat: no-repeat;  
    background-size: cover;
}


